<div class="row d-md-block d-none pt-3" style="background-color: #d9d9d9; height: 100vh;" >
  <div class="col-9 m-auto">
  <img src="../../../assets/img/logo.svg" width="125"  alt="">
</div>
<div class="col-9 m-auto mt-3">
  <button type="button" class="btn btn-light btn-prop">Home page</button>
</div>
<div class="col-9 m-auto mt-3">
  <button class="btn btn-dark btn-prop">Brands</button>
</div>
</div>
<nav class="navbar bg-body-tertiary fixed-top d-block d-md-none">
  <div class="row mx-2">
    <button class="navbar-toggler" style="width: fit-content ;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" style="background-color: #d9d9d9" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header mx-auto">
        <img class="offcanvas-title" id="offcanvasNavbarLabel" src="../../../assets/img/logo.svg"  alt="">
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <button type="button" class="btn btn-light btn-prop">Home page</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-dark mt-2">Brands</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
